@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap");

@import "tailwindcss";

/*
NOTE: If you don't have Tailwind CSS IntelliSense installed,"Unknown at rule @theme" warning in VS Code.
@theme is a valid Tailwind CSS directive and works correctly during build.
*/

@theme {
  --font-inter: "Inter", sans-serif;
  --font-system-ui: "system-ui", sans-serif;
  --font-courier-new: "Courier New", monospace;
  --color-primary: oklch(63.04% 0.201 259.78);
  --color-primary-hover: oklch(56.88% 0.187 259.78);
  --color-primary-text: oklch(100% 0 0);
  --color-inv-primary-text: oklch(0 0 0);
  
  --color-secondary: oklch(63% 0.3042 316.29);
  --color-secondary-hover: oklch(52.78% 0.258 328.61);
  --color-secondary-text: oklch(83.86% 0.037 257.91);
  --color-inv-secondary-text: oklch(27.3% 0.01 257.91);
  
  --color-tertiary-text: oklch(55% 0 0);
  
  --color-bg: oklch(15% 0 0);
  --color-inv-bg: oklch(95.5% 0 0);
  --color-surface: oklch(24% 0 0);
  --color-secondary-surface: oklch(14.5% 0.01 257.91);
  --color-border: oklch(27.5% 0.03 265);
  --color-shadow: rgba(0, 0, 0, 0.4);
  --color-glowing: oklch(94.6% 0 0);
  
  --color-error: oklch(66.1% 0.233 29.23);
  --color-warning: oklch(75.2% 0.2 70.3);
  --color-info: oklch(81.2% 0.2 215.3);
  --color-success: oklch(75.4% 0.2 142.3);
}

[data-theme="light"] {
  --color-primary-text: oklch(0% 0 0);
  --color-inv-primary-text: oklch(100% 0 0);
  --color-secondary-text: oklch(21.3% 0.01 257.91);
  --color-inv-secondary-text: oklch(83.6% 0 0);
  --color-bg: oklch(95.5% 0 0);
  --color-inv-bg: oklch(8.1% 0 0);
  --color-surface: oklch(100% 0 0);
  --color-secondary-surface: oklch(87.3% 0.1 250.2);
  --color-border: oklch(86.2% 0.01 257.91);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-glowing: oklch(63.04% 0.201 259.78);
}

@layer base {
  input,
  textarea,
  select {
    @apply px-4 py-3 rounded-md border border-border bg-surface text-primary-text text-base placeholder-tertiary-text focus:bg-secondary-surface focus:border-primary focus:outline-none transition;
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) var(--color-surface);
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: var(--color-surface);
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 8px;
    border: 2px solid var(--color-surface);
  }
}

.maplibregl-ctrl,
.maplibregl-ctrl-group 
{
  @apply bg-bg; 
} 
.maplibregl-ctrl button 
{
  @apply bg-bg hover:bg-bg/80 text-bg; 
}